@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
}

header {
    position: relative;
}
main {
    flex: 1;
}

nav {
    height: 50px;
    background-color: #2a303e;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}
h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.divider {
    width: 150px;
    height: 1px;
    background-color: #C9CAD1;
    margin: 5px auto;
}
.divider_exp {
    margin-top: 15px;
    width: 98%;
    height: 2px;
    position: relative;
}
.divider_exp::before {
    content: '';
    position: absolute;
    border: solid #C9CAD1;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(-45deg);
    right: -1px;
    top: -3px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 100%;
    padding: 0 38px;
}
.menu__item {
    border-right: 2px dotted white;
    padding-right: 38px;
}
.menu__item:last-child {
    border-right: none;
    padding: 0;
}
.menu__item__link {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s;
}
.menu__item__link:hover {
    color: #5AC4FF;
}

.sections__wrapper {
    flex: 1;
    display: flex;
}
.sections__left {
    width: 300px;
    background-color: #199EDA;
}

.header_left {
    height: 30px;
    width: 100%;
    background-color: #2a303e;
}
.header__left__title, .header__right__title {
    padding-left: 30px;
    position: relative;
    z-index: 1;
    font-weight: 300;
}
.header__left__title::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 18px;
    top: 8px;
    width: 10px;
    height: 5px;
    background-color: #ffffff;
}
.header__right__title::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 18px;
    top: 14px;
    width: 10px;
    height: 5px;
    background-color: #2a303e;
}

.contacts__body, .courses__body, .languages__body {
    padding: 15px 10px;
}
.contacts__list, .courses__list, .languages__list {
    padding-left: 30px;
}
.contacts__item, .courses__item, .languages__item {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    color: #ffffff;
}
.contacts__list {
    list-style-type: none;
    margin-left: -20px;
}
.contacts__item {
    display: flex;
    align-items: center;
}
.contacts__item__icon {
    width: 30px;
    color: #ffffff;
    margin-right: 10px;
}
.contacts__item__link {
    color: #ffffff;
    text-decoration: none;
}

.education__body, .sections__right__body {
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

.profile {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__photo__img {
    display: block;
    width: 300px;
}
.profile__descr {
    margin: 0 auto;
}
.title, .subtitle {
    text-align: center;
    color: #2a303e;
}

.sections__right {
    flex: 1;
}
.header__right {
    height: 40px;
    width: 100%;
    background-color: #199EDA;
}
.header__right__title {
    line-height: 42px;
}
.sections__right__body {
    color: #2a303e;
}

.about__body {
    text-indent: 20px;
}

.skills__body, .experience__body, .examplies__edu {
    display: flex;
    flex-wrap: wrap;
}

.skills__item, .experience__item, .examplies__item {
    flex: 200px;
    border: 1px solid #C9CAD1;
    margin: 5px;
    padding: 10px;
}
.skills__item__header {
    text-align: center;
    font-weight: 700;
}

.experience__item {
    border: none;
    position: relative;
    z-index: 1;
    border-left: 2px solid #C9CAD1
}
.experience__item::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: #C9CAD1;
    top: -25px;
    left: -2px;
    z-index: -1;
}
.experience__item__date {
    margin-top: 10px;
    font-size: 12px;
    color: #C9CAD1;
}


.examplies__item {
    border: none;
}
.examplies__item__link {
    text-decoration: none;
    color: #2a303e;
    transition: .3s;
}
.examplies__item__link:hover {
    color: #199EDA;
}
.examplies__item__img {
    display: block;
    margin: 5px auto;
    width: 200px;
    transition: .3s;
}
.examplies__item__link:hover .examplies__item__img {
    transform: scale(1.1);
}

.examplies__item__descr {
    text-align: center;
}

.descr_bold {
    font-weight: 700;
}
.code {
    box-sizing: border-box;
    background-color: #1b2b34;
    color: #ffffff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 15px;
    padding-top: 25px;
    margin-top: 10px;
    display: flex;
}
.code__wrap {
    margin-left: -170px;
}

.code_func {
    color: #c594a9;
}
.code_funk-name {
    color: #3f8bc2;
}
.code_regexp {
    color: #50a686;
}
.code_text {
    color: #5fb3b3
}
.code_var {
    color: #f99157
}

.footer {
    height: 50px;
    
}
.footer__wrapper {
    height: 100%;
    background-color: #2a303e;
}