@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Inconsolata&display=swap');

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

*::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3px;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: #1B1B1B;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 70px auto 50px;
    border-radius: 10px;
}

.header, .footer {
    padding: 0 20px;
    background-color: #833535;
}

.header {
    border-radius: 10px;
}

.footer {
    border-radius: 0 10px 10px 10px
}

.nav {
    height: 100%;
    /* background-color: #7F242D; */
}

.menu {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    box-sizing: border-box;
    /* width: 150px; */
    list-style-type: none;
    text-align: center;
    padding: 0 32px;
}

.menu__link {
    text-decoration: none;
    color: white;
    transition: color .3s;
}

.menu__link:hover {
    color: #1B1B1B;
}

.main {
    display: flex;
    flex-direction: column;
}

.main__top {
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__body {
    flex: 1;
    display: flex;
}

.main__left {
    border-radius: 10px 10px 0 0;
    background-color: #833535;
    width: 350px;
    height: 100%;
}

.main__right {
    flex: 1;
}

.title__wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.title {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    border: 3px solid white;
    border-radius: 20px;
    position: relative;
    font-size: 56px;
    line-height: 140px;
    width: 700px;
    color: white;
}

.title::before {
    content: 'Front-end Developer';
    position: absolute;
    font-size: 30px;
    line-height: 30px;
    bottom: -14px;
    left: 0;
    right: 0;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    background-color: #1B1B1B;
    color: #833535; 
}

.photo__wrap {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.photo {
    display: block;
    box-sizing: border-box;
    width: 300px;
    /* height: 350px; */
    border: 3px solid white;
    border-radius: 50%;
    /* z-index: 1; */
    background-color: #1B1B1B;
}

/* .photo__wrap::before {
    content: '';
    position: absolute;
    top: -2px;
    height: 305px;
    width: 305px;
    border-radius: 50%;
    z-index: 0;
    /* background-image: linear-gradient(390deg, transparent 50%, #fff 50%), linear-gradient(328deg, #833535 50%, #fff 50%); */
    /* background-image: linear-gradient(328deg, #833535 30%, #fff 30%); */
/* }  */

.left__body, .right__body {
    padding: 20px;
    color: white;
}

.left__body {
    font-size: 16px;
    font-weight: 300;
}

.left__title, .right__title {
    box-sizing: border-box;
    padding: 0 20px;
    /* background-color: #1B1B1B; */
    /* height: 45px; */
    display: flex;
    align-items: flex-end;
    /* border-radius: 0 0 10px 10px; */
}

/* .right__title {
    background-color: #833535;
} */

.subtitle {
    /* display: inline; */
    /* background-color: #833535; */
    color: white;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 300;
    /* font-size: 18px; */
    /* line-height: 30px; */

    font-size: 24px;
    line-height: 48px;
    /* vertical-align: bottom; */
    width: 100%;
    /* border-radius: 10px 10px 0 0; */
    border-bottom: 1px solid #1B1B1B;
}

.subtitle_right {
    /* font-size: 24px; */
    /* line-height: 36px; */
    /* background-color: #1B1B1B; */
    color: white;
    border-bottom: 1px solid #833535;
}

.courses__item {
    list-style-type: none;
}

.languages__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.languages__item__img {
    width: 30px;
    border-radius: 3px;
}

/* .contacts__body {
    padding-left: 50px;
} */

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__item {
    list-style-type: none;
    /* margin: 5px 0; */
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.contacts__item__icon {
    width: 30px;
    color: white;
}

.contacts__item__link, .courses__link {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.contacts__item__link:hover, .courses__link:hover {
    color: #070719;
}

.skills__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skills__item {
    list-style-type: none;
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__item::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.skills__item::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #833535;
}

.skills__item_html::before {
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(130deg, #1B1B1B 50%, #fff 50%);
}

.skills__item_css::before {
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(140deg, #1B1B1B 50%, #fff 50%);
}

.skills__item_js::before {
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(180deg, #1B1B1B 50%, #fff 50%);
}

.skills__item_vue::before {
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(210deg, #1B1B1B 50%, #fff 50%);
}

.skills__item_git::before {
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(220deg, #1B1B1B 50%, #fff 50%);
}

.skills__item_webpack::before {
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(260deg, #1B1B1B 50%, #fff 50%);
}

.skills__item__img {
    box-sizing: border-box;
    width: 40px;
    z-index: 1;
}

.about__body {
    text-indent: 30px;
    text-align: justify;
}

.experience__line {
    margin: 25px auto 0;
    width: 95%;
    height: 2px;
    position: relative;
    background-color: #fff;
}

.experience__line::before {
    content: '';
    position: absolute;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 6px;
    transform: rotate(-45deg);
    right: 0;
    top: -6px;
}

.experience__body {
    display: flex;
    padding: 20px 35px
}

.experience__item {
    box-sizing: border-box;
    padding: 10px 20px 10px 10px;
    border: none;
    position: relative;
    z-index: 1;
    border-left: 2px solid #fff;
    font-size: 16px;
    line-height: 20px;
}

.experience__item::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: #fff;
    top: -22px;
    left: -2px;
    z-index: -1;
}

.experience__item::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    top: -25px;
    left: -6px;
    z-index: -1;
}

.experience__item__date {
    margin-top: 10px;
    font-size: 12px;
    color: #833535;
}

.examplies__body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.examplies__edu {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
}

.examplies__item {
    border: none;
    filter: grayscale(1) brightness(0.5);
    transition: all .3s;
}

.examplies__item_active {
    filter: none;
}

.examplies__item_2048 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.examplies__item_memory-game {
    grid-row: 3 / 5;
    grid-column: 2 / 4;
}

.examplies__item__link {
    text-decoration: none;
    color: white;
    transition: .3s;
}

/* .examplies__item__link:hover {
    color: #7F242D;
} */

.examplies__item__wrap {
    position: relative;
}

.examplies__item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid #7F242D; */
    /* filter: grayscale(1) brightness(0.5); */
    transition: all .3s;
}

/* .examplies__item__link:hover .examplies__item__img { */
    /* transform: scale(1.1); */
    /* filter: none; */
/* } */

.examplies__item__descr {
    display: none;
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-size: 14px;
    transition: opacity .3s;
}

.examplies__item_active .examplies__item__descr {
    display: block;
    opacity: 1;
}

.examplies__item__descr_instructor {
    font-size: 12px;
    color: rgb(167, 167, 167);
    line-height: 14px;
}

.examplies__code__descr {
    color: white;
}

.descr_bold {
    font-weight: 700;
}

.code {
    box-sizing: border-box;
    background-color: #1b2b34;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 15px;
    padding-top: 25px;
    margin-top: 10px;
    display: flex;
}
.code__wrap {
    margin-left: -170px;
    font-family: 'Inconsolata', monospace;
}

.code_func {
    color: #c594a9;
}
.code_funk-name {
    color: #3f8bc2;
}
.code_regexp {
    color: #50a686;
}
.code_text {
    color: #5fb3b3
}
.code_var {
    color: #f99157
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer__rss {
    text-align: right;
}

.footer__link {
    text-decoration: none;
    transition: .5s;
    color: white;
}

.footer__link:hover {
    color: #1B1B1B;
    text-shadow: rgb(0, 0, 0);
}

@media (max-width: 1280px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 1024px;
    }

    .menu__item {
        padding: 0 10px;
    }

    .examplies__edu {
        grid-template-columns: repeat(2, 1fr);
    }

    .examplies__item_memory-game {
        grid-row: 3 / 5;
        grid-column: 1 / 3;
    }

    .title {
        font-size: 48px;
        line-height: 120px;
        width: 550px;
    }
    
    .title::before {

        font-size: 24px;
        line-height: 24px;
        width: 300px;

    }

    .code__wrap {
        margin-left: -300px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .container {
        grid-template-rows: 0 auto 50px;
    }

    .nav {
        display: none;
        position: fixed;
    }

    .main__top {
        height: auto;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0 30px 0;
    }

    .photo__wrap {
        width: 300px;
    }

    .title {
        width: 90vw;
        font-size: 36px;
        line-height: 90px;
    }

    .title::before {
        font-size: 18px;
        line-height: 18px;
        width: 250px;
        bottom: -10px;
    }

    .main__body {
        flex-direction: column;
    }

    .main__left {
        width: 100%;
        height: auto;
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills {
        width: 100%;
    }

    .education, .courses, .languages, .contacts {
        width: 50%;
    }

    .contacts {
        order: 1;
    }

    .contacts__item, .languages__item {
        font-size: 12px;
    }

    .languages {
        order: 2;
    }

    .skills {
        order: 3;
    }

    .skills__item {
        height: 50px;
        width: 50px;
    }

    .skills__item::before {
        height: 50px;
        width: 50px;
    }

    .skills__item::after {
        height: 40px;
        width: 40px;
    }

    .skills__item__img {
        width: 30px;
    }

    .education, .courses {
        order: 4;
    }

    .experience__line {
        display: none;
    }

    .experience__body {
        margin-top: 20px;
        flex-direction: column-reverse;
    }

    .experience__item {
        box-sizing: border-box;
        padding: 20px 10px 10px 30px;
    }

    .experience__item::after {
        top: 24px;
    }

    .experience__item:last-child::before {
        content: '';
        position: absolute;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        padding: 6px;
        transform: rotate(-135deg);
        left: -8px;
        top: 0;
        height: 0;
        width: 0;
        background: none;
    }

    .examplies__item_2048 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .examplies__item_memory-game {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .code {
        font-size: 0.7rem;
        line-height: 14px;
    }

    .code__wrap {
        margin-left: -270px;
    }

    .footer {
        border-radius: 0;
    }
    
}

@media (max-width: 425px) {
    .title {
        font-size: 28px;
    }

    .title::before {
        font-size: 16px;
        line-height: 16px;
        width: 200px;
    }

    .education, .courses, .languages, .contacts {
        width: 100%;
    }

    .examplies__edu {
        grid-template-columns: repeat(1, 1fr);
        /* grid-auto-rows: 185px; */
    }

    .examplies__item_memory-game {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .code {
        font-size: 0.5rem;
        line-height: 12px;
    }

    .code__wrap {
        margin-left: -210px;
    }

    .footer {
        font-size: 14px;
    }
}
