@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    position: relative;
}
main {
    height: calc(100vh - 100px);
}

nav {
    height: 50px;
    background-color: #2a303e;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}
h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 100%;
    padding: 0 38px;
}
.menu__item {
    border-right: 2px dotted white;
    padding-right: 38px;
}
.menu__item:last-child {
    border-right: none;
    padding: 0;
}
.menu__item__link {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s;
}
.menu__item__link:hover {
    color: #5AC4FF;
}

.sections__wrapper {
    display: flex;
    height: calc(100% - 300px);
}
.sections__left {
    width: 300px;
    height: 100%;
    background-color: #199EDA;
}

.profile {
    height: 300px;
    background-color: #199EDA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__photo__img {
    display: block;
    width: 300px;
}
.profile__descr {
    margin: 0 auto;
}
.title, .subtitle {
    text-align: center;
    color: #ffffff;
}
/* .subtitle {
    text-align: center;
} */


.footer {
    height: 50px;
    
}
.footer__wrapper {
    height: 100%;
    background-color: #2a303e;
}